<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet'Com</title>
</head>

<body>

    <!--
    INFO PAGE
    Page de connexion au compte parent
    
    VARIABLES ACCESSIBLES
    code : int -> code indiquant la raison de l'accès à la page
        200 : connexion classique
        401 : retour au login car mauvais identifiants

    --> 
    <form action="{{ url_for('index') }}" method="POST">
        {% if code == 401%}
            <p style="color:'red';">Identifiants ou mot de passe incorrect.</p>
        {% endif %}
        
        <label for="username">Identifiant : </label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Mot de passe : </label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="Connexion">
    </form>
</body>
</html>